<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WorkDeskDB" connectionString="Server=.;Database=WorkDesk;Trusted_Connection=True;"
		 providerName="System.Data.SqlClient" />
		<add name="Work_Desk_Program.Properties.Settings.WorkDeskConnectionString"
		 connectionString="Data Source=.;Initial Catalog=WorkDesk;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>